*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Fraunces";
}

a{
    text-decoration: none;
}


/* HERO IMAGE AND NAVBAR */

.hero{
    background-image: url(./images/mobile/image-header.jpg);
    /* height: 600px; */
    height: 75vh;
    background-position: bottom; 
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
}

.hamburger{
    position: relative;
    width: 2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger__buttonStripes{
    width: 80%;
    height: 3px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.hamburger__buttonStripes::before,
.hamburger__buttonStripes::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.hamburger__buttonStripes::before{
    transform: translateY(-.5rem);
}

.hamburger__buttonStripes::after{
    transform: translateY(.5rem);
}

.header__description{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description img{
    margin-top: 3rem;
}

.header__description h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: .5rem;
}

/* IMAGES SECTION WITH TEXT */

.Image{
    position: relative;
}

.Image__images{
    width: 100%;
}

.Image__content{
    position: absolute;
    bottom: 10%;
    /* left: 15%; */
    text-align: center;
    max-width: 375px;
    /* margin: auto; */
    left: 0;
    right: 0;
    margin: 0 auto;
}

.Image__title{
    padding: 2rem 0;
    font-size: 2rem;
    text-transform: capitalize;
}

.Image__description{
    line-height: 1.7;
}

.Image__content--greencolor{
    color: hsl(167, 40%, 24%);
}

.Image__content--bluecolor{
    color: hsl(198, 62%, 26%);
}

 /* TESTIMONIALS SECTION */

.testimonial{
    /* padding: 3rem 2rem; */
    padding: 8% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__title{
    text-align: center;
    padding-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(210, 4%, 67%);
}

.card{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
}

.card__imageContainer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.card__image{
    width: 100%;
}

.card__description{
    text-align: center;
    line-height: 1.6;
    margin: 2.5rem 0;
    color: hsl(213, 9%, 39%);
}

.card__names{
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: hsl(212, 27%, 19%);
    font-size: 1.2rem;
}

.card__occupation{
    text-transform: capitalize;
    color: hsl(210, 4%, 67%);
    font-size: 0.9rem;
}

/* SPEECH SECTION */

.speech{
    padding: 3.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speech__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.speech__title{
    font-size: 2rem;
    text-align: center;
    color: hsl(212, 27%, 19%);
}

.speech__title::first-letter{
    text-transform: capitalize;
}

.speech__description{
    padding: 1.5rem 0;
    text-align: center;
    line-height: 1.6;
    color: hsl(232, 10%, 55%);
}

.speech__link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
    position: relative;
    cursor: pointer;
}
/* 
.speech--redlink{
    border-bottom: 5px solid hsl(7, 99%, 70%);
    box-shadow: 0 -5px 0 hsl(7, 99%, 70%) inset;
}

.speech--yellowlink{
    border-bottom: 5px solid hsl(51, 100%, 49%);
    box-shadow: 0 -5px 0 hsl(51, 100%, 49%) inset;
} */

.speech--redlink::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: hsl(7, 99%, 70%);
    width: 100%;
    height: 6px;
    z-index: -1;
    border-radius: 1rem;
}

.speech--yellowlink::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: hsl(51, 100%, 49%);
    width: 100%;
    height: 6px;
    z-index: -1;
    border-radius: 1rem;
}

/* GALLERY OF IMAGES */

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery__container{
    width: 50%;
}

.gallery__images{
    width: 100%;
}

/* FOOTER SECTION */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    color: hsl(168, 34%, 41%);
    background-color: hsl(168, 34%, 75%);
}

.footer__title{
    font-size: 2.1rem;
    font-weight: 800;
}

.AboutUs{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0 5rem;
}

.AboutUs a{
    margin: 0 2rem;
    color: hsl(168, 34%, 41%);
}

.AboutUs a:hover{
    color: hsl(0, 0%, 100%);
}

.socialMedia{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia a{
    margin: 0 1rem;
}

.socialMedia svg{
    fill: #2C7566;
}

.socialMedia svg:hover{
    fill: hsl(0, 0%, 100%);
}

/* .socialMedia__fb{
    background-image: url("./images/icon-facebook.svg");
}

.socialMedia__insta{
    background-image: url("./images/icon-instagram.svg");
}

.socialMedia__twitter{
    background-image: url("./images/icon-twitter.svg");
}

.socialMedia__pinterest{
    background-image: url("./images/icon-pinterest.svg");
} */

.header__items{
    display: none;
    list-style: none;
}

.header__items a{
    margin: 0 1rem;
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
}

#contact{
    color: hsl(212, 27%, 19%);
    background-color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-family: 'Fraunces';
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

#contact:hover{
    background-color: hsla(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 769px){
    main{
        display: flex;
        flex-wrap: wrap;
    }

    .hero{
        background-image: url(./images/desktop/image-header.jpg);
        height: 95vh;
    }

    .Image,.speech{
        width: 50%;
    }

    .testimonial section{
        display: flex;
        flex-direction: row;
    }

    .card{
        margin: 0 2rem;
    }

    .gallery__container{
        width: 25%;
    }

    .speech__container{
        align-items: flex-start;
    }

    .speech__description,.speech__title{
        text-align: left;
    }

    .speech{
        padding: 0 1.5rem;
    }

    .first.speech{
        order: -1;
    }

    .header{
        padding: 3rem;
    }

    .header__items{
        display: flex;
    }

    .hamburger{
        display: none;
    }

    .header__description h2{
        font-size: 3rem;
    }

    .header__description img{
        margin-top: 5rem;
    }
}
